
.contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 150px;
  }
  
  .contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:hover,
  .form-group textarea:hover {
    border-color: #007bff;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  Button {
    /* width: 100%; */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  Button:hover {
    background-color: #0056b3;
  }
  
  Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .form-group input:invalid,
  .form-group textarea:invalid {
    animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translateX(-5px);
    }
    20%, 80% {
      transform: translateX(5px);
    }
    30%, 50%, 70% {
      transform: translateX(-10px);
    }
    40%, 60% {
      transform: translateX(10px);
    }
  }
  

  .success-message {
    text-align: center;
    padding: 20px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
  }
  